<!DOCTYPE HTML>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="js/album.js"></script>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/album.css">
    <title>Angular Album</title>
</head>
<body>
<div id="albumWrapper" ng-controller="AlbumCtrl">
    <div id="header">
        <h2>{{currentImage.description}}</h2>

        <select ng-model="categories"
                ng-options="category for category in imageCategories">
            <option value="">all</option>
        </select>
    </div>

    <div id="albumImage">
        <img ng-src="{{currentImage.image}}" alt="{{currentImage.description}}">
    </div>
    <div id="thumbWrapper">
        <ul id="thumbList">
            <li ng-repeat="image in images | filter:categories" ng-click="setCurrentImage(image)">
                <img ng-src="{{image.thumbnail}}" alt="{{image.description}}">
            </li>
        </ul>
    </div>
</div>
</body>
</html>